body {
  background-color: #dadada;
  padding: 0%;
  margin: 0%;
  text-align: center;
}
.side_times {
  padding: none;
  background-color: black;
  height: 98.3%;
  width: 10%;
  color: #e6e4e4;
  position: absolute;
  align-items: left;
}
.header {
  text-align: center;
  padding-bottom: 5%;
}
.name {
  color: #535353;
}

.buttons {
  margin-left: 367%;
  width: 300%;
  height: 80px;
  border-radius: 15px;
  border: none;
  background-color: black;
  color: #dadada;
  font-size: 120%;
  text-align: center;
}
#display {
  background-color: black;
  color: white;
  font-size: 150%;
}
.startStop_button {
  width: 20%;
  height: 40%;
  color: black;
  background-color: #e9e9e9;
  border-radius: 15px;
  border: none;
}
.reset_button {
  width: 20%;
  height: 40%;
  color: black;
  background-color: #e9e9e9;
  border-radius: 15px;
  border: none;
}
button:focus {
  outline: none !important;
}
